

.hidden1 {
  display: flex;
}
.flex1 {
  display: none;
}
.hidden2 {
  display: flex;
}
.flex2 {
  display: none;
}
.hidden3 {
  display: flex;
}
.flex3 {
  display: none;
  
}


@media (max-width: 1210px) and (min-width: 0) {
  .hidden2 {
    display: none;
  }
  .flex2 {
    display: flex;
  }
}

@media (max-width: 1022px) and (min-width: 0) {
  .hidden1 {
    display: none;
  }
  .flex1 {
    display: flex;
  }
}
@media (max-width: 620px) and (min-width: 0) {
  .hidden3 {
    display: none;
  }
  .flex3 {
    display: flex;
  }
}

